name: ci

on:
  push:
    paths-ignore:
      - "**.md"
      - "LICENSE"
      - "NOTICE"
    # branches-ignore:
    #   - "feature/pnpm"

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ["18", "20"]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - uses: pnpm/action-setup@v2
        name: Install pnpm
        with:
          version: 8
      - run: pnpm --version
      - uses: goto-bus-stop/setup-zig@v2
      - run: zig version
      - run: pnpm install
      - run: pnpm run build
      - run: pnpm run lint
      - run: pnpm run doc
      - run: cd packages/light-adjustment/zig/ && zig build test
      - name: Slack Notification
        if: failure()
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: media-processors
          SLACK_COLOR: danger
          SLACK_TITLE: Failure test
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
